:root{
  /* primary colors */

  --soft_orange:hsl(35, 77%, 62%);
  --soft_red:hsl(5, 85%, 63%);

  /* neutral colors */

  --off_white: hsl(36, 100%, 99%);
  --grayish_blue:hsl(233, 8%, 79%);
  --dark_grayish_blue: hsl(236, 13%, 42%);
  --very_dark_blue: hsl(240, 100%, 5%);
  /* layout border box */
  box-sizing: border-box;
}




*,*::after,*::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
  }

body{
  box-sizing: inherit;
  font-family: 'Inter';
  padding:1rem 2rem;
  }

p{
  font-size: 15px;
  line-height: 2;
  color:var(--dark_grayish_blue);

}

a, button{
  text-decoration:none;
  cursor:pointer;
    }

img{
  display:block;
  max-width:100%;
     }
    
.flex{
  display:flex;
  flex-direction:column;
}   


.header{
  padding: 0 0 1.5rem;
  }

 .nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  
 } 

 .nav__logo{
  width: 40px;
  max-width: none;
 }

 @media screen and (max-width:560px){
  .nav__menu{
    width:70%;
    position:fixed;
    right:-90%;
    top:0;
    bottom:0;
    background-color:white;
    transition:right .5s;
  }
 }

 
 .nav__list{
  gap:1.5rem;
  margin-top:7rem;
 }

 .nav__item{
  list-style:none;
 }

 .nav__link{
  text-decoration:none;
  font-size:2rem;
  display:block;
  padding:0 2rem;
  cursor:pointer;
 }

 .nav__close{
  position:absolute;
  top:1.5rem;
   z-index:100;
  right:1.8rem;
 }
 
 .nav__close,.nav__toggle{
  font-size:2rem;
  background-color:transparent;
  border:none;
  cursor:pointer;
 }

 .show__menu{
  right:0;
 }

 @media screen and (min-width:560px) {
  body{
    margin:2% 7%;
  }
  .nav__menu{
    margin-right: -1.5rem;
  }
  .nav__list{
    flex-direction:row;
    gap:0;
    margin-top:0;

  }
  .nav__link{
    text-decoration:none;
    font-size:1.2rem;
    display:block;
    padding:0 1.5rem;
    cursor:pointer;
    color:var(--grayish_blue);
   }
  .nav__close,.nav__toggle{
    display:none;
  }

    
  /* hover states for navbar */
  
  
  .nav__link:hover{
    color:var(--soft_red)
  }
}


 /* ***********MAIN************ */

 main.flex{
  row-gap: 2.2rem;
 }

 .web_description{
  row-gap:2rem;
 }


 .about_web h1 {
  font-size: 3.5rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.about_web button{
  margin-top:1rem;
  padding:1rem 2.5rem;

  font-size: 1rem;
  font-weight:600;
  letter-spacing:1.5px;

  background-color:var( --soft_red);
  color:var(--off_white);

  border:none;
  
}

/* hover state for button */
.about_web button:hover{
  background-color: var(--very_dark_blue);
 }


 /* highlight section of main */
 .web_highlights{
  padding:2rem;
  background-color:var(--very_dark_blue);
 }

 .web_highlights h1{
  font-size:2.5rem;
  color:var(--soft_orange);
  padding-bottom:1.5rem;
}

.web_highlights div{
    padding-bottom: 2rem;
 }

.web_highlights > div + div{
 border-top:1px solid var(--grayish_blue);
 padding:2rem 0;
}
.web_highlights p{
  color:var(--grayish_blue);
  padding-top:1rem;
  line-height: 1.5;
}
.web_highlights a{
  color:var(--off_white);
  }


   /* hover state for highlight headings tag */
.web_highlights a:hover{
  color:var(--soft_orange);
}

.articles{
  margin:3.5rem 0;
}
.articles > .flex{
  flex-direction:row;
  column-gap: 2rem;
 }

 .articles > article + article{
  margin-top:2.5rem;
 }




.article_imgs{
  width:130px;
}

.articles div > span{
  display:inline-block;
  font-size:30px;
  font-weight:bold;
  margin-bottom:10px;
  color:var(--grayish_blue);
  }
 
  .articles div + h3{
    margin:10px 0;
    font-size:1.5rem;
    font-weight:bold;
  }  

  /* hover state for article anchors */

.articles a:hover{
  color:var(--soft_red)
}


@media  screen and (min-width:560px) {
  .grid{
   display:grid;
   grid-template-columns: 2fr 1fr;
   column-gap:2rem;
  }
  .about_web.flex{
   flex-direction:row;
   column-gap:1rem;
 
  }
  .about_web h1 {
   font-size: 3.5rem;
   padding: 0;
   /* flex-basis: */
 }
 .about_web div{
  padding-left:7rem;
  padding-right:1rem;
 
 }
 
  h2{
   font-size:1rem;
  }

  .articles{
    display:flex;
  }
 
  .articles > article + article{
   margin-top:0;
  }
 .articles > article{
  padding-right: 1rem;
 }
  .article_imgs{
   width: 115px;
   /* height: 105%; */
   max-width: none;
   object-fit:cover;
   margin-top: -0.2em;
  }
 
  footer{
    text-align:center;
  }
 
 
   
 }



 

 



 
